{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <div class="container ">
        <div class=" edit-form my-5">
            <div class="card profile-edit-card">
                <div class="card-header">
                    <p class="">Password Reset Complete</p>
                </div>
                <div class="">
              
                    <h3> Congratulations! Your password has been successfully reset!</h3> 
                 <a  href="{% url 'home_feed' %}"><i class="fas fa-home fa-lg"></i>Back to Home</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}