{% extends 'authentication/base.html' %}
{% load static %}
{% block title %}Instagram | Password Link Confirm{% endblock title %} 
{% block content %}



<div class="container">

    
    <main id="login">
        
        <div class="login__column">
            <div class="login__box">
               <a href="/"> <img src="{% static 'authentication/img/loginLogo.png' %}" class="login__logo" /></a>
                <br>
                        <span class="msg__info2">Email Sent!</span> <br> <br>
                        <span class="msg__info1">Check your registered email for the password reset link. </span><br> <br>
            
                    <br>
               <hr>
               <a href="{% url 'sign_up' %}">Create New Account</a>
                
                
                </div>
            <div class="login__box">
                 <a href="{% url 'log_in' %}">Back to Login</a>
            </div>
            
        </div>

        
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

{% endblock content%}

