{% extends 'authentication/base.html' %}
{% load static %}
{% block title %}Instagram | Password Reset{% endblock title %} 
{% block content %}



<div class="container">

    
    <main id="login">
        
        <div class="login__column">
            <div class="login__box">
               <a href="/"> <img src="{% static 'authentication/img/loginLogo.png' %}" class="login__logo" /></a>
                <br><span class="msg__info2">Trouble Logging In? </span> <br> <br>
                        <span class="msg__info1">Enter your email and we will send you a link to get back into your account. </span><br> <br>
                        
                       
                <form action="" method="POST"  class="login__form">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    <div class="err_msg" >
                            {{ form.non_field_errors }}
                    </div>
                    {% endif%}
                    <input type="email" name="email" autocomplete="section-blue" placeholder="Email" required />
                    <div class="err_msg" >{{ form.email.errors }}</div>
                    <input type="submit" value="Send Login Link" />
                </form>
                    <br>
               <hr>
               <a href="{% url 'sign_up' %}">Create New Account</a>
                
                
                </div>
            <div class="login__box">
                 <a href="{% url 'log_in' %}">Back to Login</a>
            </div>
            
        </div>

        
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

{% endblock content%}