{% extends 'core/base.html' %}
{% load static %}

{% block content %}
   
 <main id="edit-profile">
    <div class="edit-profile__container">
        <header class="edit-profile__header">
            <div class="edit-profile__avatar-container">
                
                {% if messages %}
                {% for message in messages %}
                <h2 class="edit-profile__username">{{message}}</h2>
                {% endfor %}
                {% endif %}

            </div>
        </header>

        <form action="" method="post">
            {% csrf_token%}
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="form__row">
                <label for="{{ field.auto_id }}" class="form__label">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }} 
                {% comment %} {% if field.help_text %}
                <small> {{ field.help_text }}</small>
                {% endif %} {% endcomment %}

    
            </div>

            {% endfor %}
                <input type="submit" value="Change Password">
           
        </form>
       
    </div>
</main>

{% endblock content %}