{% extends 'authentication/base.html' %}
{% load static %}
{% block title %}Instagram | Password Confirm{% endblock title %} 
{% block content %}



<div class="container">

    
    <main id="login">
        
        <div class="login__column">
            <div class="login__box">
               <a href="/"> <img src="{% static 'authentication/img/loginLogo.png' %}" class="login__logo" /></a>
                <br>
                        <span class="msg__info2">Reset Password</span> <br> <br>
                        <span class="msg__info1">Enter your new password to login to your account.</span><br> <br>
            
                    <br>
             
                <form action="" method="post" class="login__form">
               {% if form %}
               {% csrf_token %}
               <input type="password" name="new_password1" autocomplete="section-blue" placeholder="New Password" required />
               <div class="err_msg" >{{ form.new_password1.errors }}</div>
               <input type="password" name="new_password2" autocomplete="section-blue" placeholder="Retype New Password" required />
               <div class="err_msg" >{{ form.new_password2.errors }}</div>
               <input type="submit" value="Reset Password" />
              </form>
              {% else %}
              <div class="err_msg">This link has been Expired! Please try again.</div>
              {% endif %}
              <hr>
              <a href="{% url 'sign_up' %}">Create New Account</a>
            </div>
            

            <div class="login__box">
                 <a href="{% url 'log_in' %}">Back to Login</a>
            </div>
            
        </div>

        
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

{% endblock content%}


